# 忽略所有 .DS_Store 文件
.DS_Store 

# 忽略所有命名为 node_modules 的文件夹
node_modules

# 指定文件夹路径，忽略根目录下的 dist template public 文件夹
/dist
/template
/public

# 忽略所有目录下名为template的文件夹
# 这会告诉Git忽略template目录及其内容，不将其纳入版本控制
template/
# 如果你已经将子仓库提交到主仓库中，你还需要运行以下命令来从Git历史中移除它：
# git rm --cached template
# git commit -m "Remove template repository"


# 忽略所有目录下名为dist的文件夹
dist/

# 忽略任何扩展名的压缩包文件(‌‌ZIP格式\‌‌ZIP格式\‌‌7Z格式‌\TAR.GZ格式‌\)
*.zip
*.rar
*.7z
*.tar.gz
*.tar.bz2

# local env files
.env.local
.env.*.local

# 忽略所有命名为 folder 的文件夹
folder/

# 忽略 folder 文件夹内所有嵌套的文件夹中以 .pdf 结尾的文件
folder/\*\*/\*.pdf

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
